@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model.Any()){
    
<table class="table table-bordered table-hover">
    <thead>

        <tr>
            Customer
        </tr>
    </thead>
    <tbody>

    <tr>
        @foreach (var customer in Model)
        {
            <td>
                @customer.Name
            </td>
        }
    </tr>
    </tbody>
</table>
}
else{
    <p>We don't have a customer yet!</p>
}

    

